body {
	font-family: 'Courier New', Courier, monospace;
	width: 640px;
	margin: 0 auto;
}

.control-panel {
	font-weight: bold;
	display: block;
	margin-bottom: 1em;
}

label {
	font-weight: normal;
}

.js-lazy-image {
	width: 640px;
	height: 480px;
}

.wrapper {
	position: relative;
	margin-bottom: 50px;
}

.hidden {
	opacity: 1;
	visibility: hidden;
}

.label {
	display: block;
	position: absolute;
	background-color: #fff;
	padding: 5px;
}

.top-left {
	top: 10px;
	left: 10px;
}

.top-right {
	top: 10px;
	right: 10px;
}

.bottom-right {
	bottom: 10px;
	right: 10px;
}

.bottom-left {
	bottom: 10px;
	left: 10px;
}
